[user]
	name = Jonathan Vella
	email = vella.jonathan@outlook.com

[core]
	autocrlf = input
	editor = vim
	pager = less -FX
	excludesFile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	l  = log --oneline --graph --decorate --all
	last = log -1 HEAD
	undo = reset HEAD~1 --mixed

[color]
	ui = auto

[diff]
	colorMoved = zebra
